<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet">
    <title>Mathdle | About</title>
</head>

<body class="bg-red-50">

    {% include 'components/header.html' %}

    <main class="md:mx-auto mx-3 md:max-w-2xl text-red-950">
        <section>

            <h1 class="text-3xl md:text-4xl font-semibold mb-4 pt-20">About</h1>

            <div class="flex flex-col gap-y-3">
                <div>
                    <h2 class="text-2xl font-semibold">Purpose of the project</h2>
                    <p>Mathdle is a daily math quiz designed for math enthusiasts to practice and sharpen their skills
                        in a fun and engaging way. It offers a daily challenge that encourages users to form a habit of
                        solving math problems regularly.
                    </p>
                    <p>
                        One of the standout features of Mathdle is its integration of AI technology. The AI provides
                        valuable assistance by offering hints when users are stuck and comparing their responses to the
                        correct solutions. This interactive feedback helps users learn from their mistakes and improve
                        their problem-solving abilities.
                    </p>
                    <p>
                        Join Mathdle today and make math practice a daily habit!
                    </p>
                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Our goals</h2>
                    <ul class="list-disc ml-5">
                        <li>Daily Engagement</li>
                        <li>Interactive Learning</li>
                        <li>Skill Improvement</li>
                        <li>Educational Impact</li>
                        <li>Continuous Improvement</li>
                    </ul>

                </div>
                <div>
                    <h2 class="text-2xl font-semibold">Implemented technologies</h2>
                    <ul class="list-disc ml-5">
                        <li>HTML, CSS, JS</li>
                        <li>Tailwind CSS</li>
                        <li>Python (Flask)</li>
                        <li>Mistral API</li>
                        <li>KaTeX (to render LaTeX)</li>
                    </ul>
                </div>
            </div>

        </section>


    </main>
</body>

</html>