<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet">
    <title>Mathdle | About</title>
</head>

<body class="bg-red-50 text-lg">

    {% include 'components/header.html' %}

    <main class="h-screen flex items-center justify-center md:mx-auto mx-3 md:max-w-2xl">
        <section class="flex flex-col items-center gap-y-3">

            <div id="date">About connard</div>

        </section>


    </main>
</body>

</html>