<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet">
    <title>Mathdle | About</title>
</head>

<body class="bg-red-50 text-lg">

    {% include 'components/header.html' %}

    <main class="h-screen flex items-center justify-center md:mx-auto mx-3 md:max-w-2xl">
        <section class="flex flex-col items-center gap-y-3">

            <!-- <div id="date">About connard</div> -->
             <div class="box">
            <div class = "about-section">
                <h1>About the project</h1>
                <p>Mathdle is an interactive math testing platform that supports students during assessments by integrating a built-in AI chat assistant.
                    When a student faces a challenging question and doesn't know the answer, instead of searching through books or external resources, they can simply ask the embedded AI chat for a hint or explanation. This smart assistant provides helpful guidance without giving away direct answers, encouraging learning while offering real-time support inside the test environment.</p>
            </div>
            <div class="goal-section">
            <h2>Our goals</h2>
            <ul>
                <li>Enhance Learning Efficiency</li>
                <li>Reduce Test Anxiety</li>
                <li>Improve Student Confidence</li>
                <li>Encourage Consistent Practice</li>
                <li>Support for Students and Teachers</li>
        </ul>
        </div>
        <div class="technologies">
            <h2>Implemented technologies</h2>
            <ul>
                <li>HTML&CSS</li>
                <li>Python</li>
                <li>Flask</li>
                <li>Mistral API</li>
                <li>Virtual environment (venv)</li>
            </ul>
        </div>
        <div class = "question">
            <h3>Do you have any questions? Don't hesitate to contact us!</h3>
            <button class="btn btn-black">Contact Us!</button>
        </div>
    </div>
        

        </section>


    </main>
</body>

</html>